@import "tailwindcss";

/* we need to write @apply before write Tailwind classes if we want to use Tailwind in css file and  we don't want to use classes directly in JSX , otherwise index.css doesn't understand Tailwind classes directly. */



.div-content{ 
    @apply flex justify-center  mbs-8  max-w-4xl mx-auto ;
     
}


.note-input {
    @apply w-full border border-gray-300 rounded px-3 py-2;

}

.add-btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded;
  
}


.ul-box{
  /* list-non removes the default bullet points from a list */
   @apply list-none p-0 m-0 w-full;

}


.li-box{   
    @apply w-full border border-gray-300 rounded p-3 mb-3;

}


.li-input {
/* search word-break in Tailwind to wrap long notes to the next line.*/
  @apply break-all; 
 
}



.edit-input {
   @apply w-full border border-gray-300 rounded px-3 py-2;
   
}


.edit-btn {
  @apply  bg-blue-500 text-white px-4 py-2 rounded  mr-1;
       
}
 

.save-btn {
  @apply  bg-blue-500 text-white px-4 py-2 rounded  mr-1;
 
}

.delete-btn {
  @apply  bg-blue-500 text-white px-4 py-2 rounded; 
}



/* i keep this original css------------------------------------------------- */
body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------- */



